/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #663399; /* A vibrant purple */
  --ifm-color-primary-dark: #5a2e85;
  --ifm-color-primary-darker: #532b7d;
  --ifm-color-primary-darkest: #452366;
  --ifm-color-primary-light: #733caf;
  --ifm-color-primary-lighter: #7a46b6;
  --ifm-color-primary-lightest: #8e62d4;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #ff7f50; /* Coral for dark mode */
  --ifm-color-primary-dark: #e67347;
  --ifm-color-primary-darker: #db6e44;
  --ifm-color-primary-darkest: #b35a37;
  --ifm-color-primary-light: #ff8c66;
  --ifm-color-primary-lighter: #ff987a;
  --ifm-color-primary-lightest: #ffb899;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
